@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";

@plugin '@tailwindcss/forms';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* ===== scrollbar ===== */
html {
  overflow-y: scroll;
}

.title {
  @apply mx-auto mt-8 mb-3 text-center text-[1.75rem] font-bold tracking-wide;
}

.subtitle {
  @apply text-text/70 mx-auto text-center font-sans italic;
}

.section-title {
  @apply mt-8 mr-auto mb-2 ml-0 text-left text-2xl font-bold tracking-wide;
}

.section-subtitle {
  @apply text-text/70 text-left font-sans italic;
}

.separator {
  @apply border-primary mt-6 mb-8 rounded-2xl border-3;
}

/* Scrollbar */
:root {
  scrollbar-width: initial;
  scrollbar-color: var(--color-primary);
}

/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-fill;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary/50;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}

a {
  @apply hover:text-accent break-words underline decoration-dashed underline-offset-6;
}

@theme {
  --color-fill: rgba(14, 11, 22, 255);
  --color-text: rgba(237, 234, 246, 255);
  --color-primary: rgba(138, 103, 171, 255);
  --color-secondary: rgba(122, 80, 163, 255);
  --color-accent: rgba(153, 115, 189, 255);
  --color-code: rgba(37, 39, 57, 255);
  --color-normal: rgba(138, 103, 171, 255);
  --color-expert: rgba(96, 0, 0, 255);
  --font-title: Geologica, monospace;
}
